@using Diana.Models;
@using Diana.ViewModels;
@model List<Product>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">PRODUCTS</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Color
                                        </th>
                                        <th>
                                            Size
                                        </th>
                                        <th>
                                            Material
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces/face1.jpg" alt="image" />
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td id="price">
                                                @item.Price
                                            </td>
                                            <td id="category">
                                                @item.Category
                                            </td>
                                            <td id="color">
                                                @foreach (var color in item.ProductColors)
                                                {
                                                    @color.Color.Name
                                                }
                                            </td>
                                            <td id="size">
                                                @foreach(var size in item.ProductSizes)
                                                {
                                                    @size.Size.Name
                                                }
                                            </td>
                                            <td id="material">
                                                @foreach(var material in item.ProductMaterials)
                                                {
                                                    @material.Material.Name
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.
            </span>
            <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
        </div>
    </footer>
    <!-- partial -->
</div>